USE [master]
GO
/****** Object:  Database [DB_KTra_DP]    Script Date: 4/27/2024 10:18:31 AM ******/
CREATE DATABASE [DB_KTra_DP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_KTra_DP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_KTra_DP.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_KTra_DP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_KTra_DP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_KTra_DP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_KTra_DP]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 4/27/2024 10:18:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSinhVien] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinhNam] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [GioiTinhNam], [NgaySinh]) VALUES (N'21T1020105', N'Tran Nhu Y', 0, CAST(N'2003-02-12' AS Date))
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [GioiTinhNam], [NgaySinh]) VALUES (N'21T1020106', N'Nguyen Ba Long', 1, CAST(N'2003-06-20' AS Date))
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [GioiTinhNam], [NgaySinh]) VALUES (N'21T1020107', N'Le Minh An', 1, CAST(N'2003-08-18' AS Date))
USE [master]
GO
